body {
  background-image: url('/img/poky.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 400px;
  padding: 20px;
  border: 2px solid #808080;
  border-radius: 10px;
  background-image: url('/img/ffb7a7d5-d7eb-433c-83d6-35c8996bb979.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  color: #404040;
  margin-bottom: 20px;
  font-size: 2rem;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #808080;
  font-size: 1.1rem;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #808080;
  border-radius: 5px;
  background-color: #F0F0F0;
  outline: none;
  font-size: 1.1rem;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #8080FF;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #8080FF;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4040FF;
}

.error {
  display: none;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #FF8080;
  border-radius: 5px;
  background-color: #FFE0E0;
  color: #FF0000;
  font-weight: bold;
  font-size: 0.9rem;
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }

  h1 {
    font-size: 1.8rem;
  }

  label {
    font-size: 1rem;
  }

  input,
  button {
    font-size: 1rem;
  }

  .error {
    font-size: 0.8rem;
  }
}